<<<<<<< HEAD
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

.text--white {
    color: white;
}

.level__name {
    text-align: center;
}
.health__display {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.player-hp {
    color: blue;
}

.monster-hp {
    color: red;
}

.feed {
    height: 50vh;
    background: lightgray;
}

.feed__container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    height: 50vh;
    background: lightgray;
    overflow-y: scroll;
}

.feed__item {
    text-decoration: none;
    list-style: none;
    padding: 0 5%;
}

.text__container p:first-child {
    padding-top: 20px;

}

.user-interface {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    text-align: center;
    z-index: 100;
}

.actions {
    display: flex;
    flex-flow: row wrap;
    width: 50%;
    height: 100%;
}

.action__button {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 100px;
}

.inventory {
    display: none; /*flex*/
    flex-flow: row wrap;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    z-index: 100;
}

.inventory__list {
    width: 100%;
    height: 100%;
}

.overlay {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: black;
}


=======
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

.text--white {
    color: white;
}

.level__name {
    text-align: center;
}
.health__display {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.player-hp {
    color: blue;
}

.monster-hp {
    color: red;
}

.feed {
    height: 50vh;
    background: lightgray;
}

.feed__container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    height: 50vh;
    background: lightgray;
    overflow-y: scroll;
}

.feed__item {
    text-decoration: none;
    list-style: none;
    padding: 0 5%;
}

.text__container p:first-child {
    padding-top: 20px;

}

.user-interface {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    text-align: center;
    z-index: 100;
}

.actions {
    display: flex;
    flex-flow: row wrap;
    width: 50%;
    height: 100%;
}

.action__button {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 100px;
}

.inventory {
    display: none; /*flex*/
    flex-flow: row wrap;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    z-index: 100;
}

.inventory__list {
    width: 100%;
    height: 100%;
}

.overlay {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: black;
}


>>>>>>> de36556f6f1f23d77f9d65f26e408742fbd7f3d8
