/* MIXINS */

$textFont: 'Press Start 2P', cursive;
$headerFont: 'Press Start 2P', cursive;

$textSizeNormal: 1.2rem;
$textSizeBig: 1.4rem;



* {
    margin: 0;
    padding: 0;
}



.level__name {
    text-align: center;
}
.health__display {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.player-hp {
    color: blue;
}

.monster-hp {
    color: red;
}

.feed {
    height: 50vh;
    background: lightgray;
}

.feed__container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    height: 50vh;
    text-align: left;
    background: lightgray;
    overflow-y: scroll;
}

.feed__item {
    text-decoration: none;
    list-style: none;
    padding: 1% 5%;
    width: 90%;
    color: white;
    line-height: 30px;
}

.text__container p:first-child {
    padding-top: 20px;

}

.user-interface {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    text-align: center;
    z-index: 100;
}

.actions {
    display: flex;
    flex-flow: row wrap;
    width: 50%;
    height: 100%;
}

.action__button {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 100px;
}



.overlay {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: black;
}


.inventory {
    display: none; /*flex*/
    flex-flow: row wrap;
    width: 30%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: #ededed;
    z-index: 100;
}

.inventory__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5%;
}
.inventory__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

/* CHARACTER CREATOR */

.character-generator {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ededed;
}

.character-sheet {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 700px;
    height: 100%;

    .header {
        font-size: 1.2rem;
        font-weight: bold;
        width: 100%;
        margin-bottom: 5%;
    }
}

.character-sheet__item {
    display: flex;
    flex-direction: column;
    width: 100%;

    .item__input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        border-radius: 50%;
        width: 16px;
        height: 16px;
      
        border: 2px solid #999;
        transition: 0.2s all linear;
        margin-right: 5px;

    }

    .item__input:checked {
        border: 6px solid black;
    }


}

.character__race {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.stat__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.stat__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 80px 20px;
}